body, html {
    overflow: hidden;
}

.back {
    height: 100vh;
    background-color: #3c4eaa;
}

.title {
    font-size: 4rem;
    font-family: 'Lucida Sans';
    font-weight: 600;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}